<h2>Hello Rails</h2>


This is my first rails page

<%= text_area_tag(:message, "Hi,nice site", size: "24x7") %><br/>
<%= email_field(:user, :address) %><br/>
<%= password_field_tag(:password) %><br/>
<%= hidden_field_tag(:parent_id, "5")  %><br/>
<%= search_field(:user, :name) %><br/>
<%= telephone_field(:user, :phone) %><br/>
<%= date_field(:user, :born_on) %><br/>
<%= datetime_field(:user, :meeting_time) %><br/>
<%= datetime_local_field(:user, :graduation_day) %><br/>
<%= month_field(:user, :birthday_month) %><br/>
<%= week_field(:user, :birthday_week) %><br/>
<%= url_field(:user, :homepage) %><br/>
<%= color_field(:user, :favorite_color) %><br/>
<%= time_field(:task, :started_at) %><br/>
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %><br/>
<%= range_field(:product, :discount, in: 1..100) %><br/>
